.main
  position: absolute
  top: 75px
  bottom: 40px
  height: auto
  left: 0
  right: 0

.footer
  position: absolute
  bottom: 0
  left: 0
  right: 0
  height: 40px
  
.editor
  resize: none
  display: block
  width: 100%
  font-family: Inconsolata
  
.fit-h  
  height: 100%

.meteor-switch
  color: white
  margin-left: 170px
  margin-top: 20px
  
.flash-message
  position: absolute
  top: -3px
  left: 47%
  width: 6%
  min-width: 76px
  font-size: 13px
  padding: 10px